<head>
     <!-- JIT SUPPORT, for using peer-* below -->
     <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
   </head>
   
   <div id="PROJECTS" >
       <h2 class="py-16 mb-10 text-4xl italic font-semibold text-center text-teal-200 " [class.text-focus-in]="true">PROJECTS</h2>
      
       <!-- component -->
   
        <div class="relative h-52 pt-96">
           <div class="mx-auto w-96 " style="scroll-snap-type: x mandatory;">
              <!-- first -->
              <div class="">
                 <input class="sr-only peer " type="radio" name="carousel" id="carousel-1" checked />
                 <!-- content #1 -->
                 <div
                    class="absolute z-0 w-9/12 transition-all duration-300 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-lg shadow-lg opacity-0 top-52 left-1/2 peer-checked:opacity-100 peer-checked:z-10">
                    <img class="w-full rounded-t-lg max-h-80" src="../assets/img/projectlogo.jpg" alt="" />
                    <div class="px-8 py-4">
                       <h4 class="mt-2 font-bold tracking-tight text-gray-900 text-auto">DIGITAL AMBULANCE SERVICE APP
                         <a href="https://github.com/jackhack2002/Emergency-Ambulance-Service-.git ">(view code)</a>
                       </h4>
                       <h4 class="mt-2 text-xs font-bold tracking-tight text-gray-900 ">APPLICATION FOR DIGITAL AMBULANCE SERVICES
                       </h4>
                       <p class="py-3 leading-6 text-gray-600 ">The Application for Digital Ambulance Services aims to provide a user-friendly platform for quick and efficient access to emergency medical care.<span class="hidden md:inline"> The app allows users to request ambulance services in real-time through a digital interface, connecting them with nearby ambulance providers. The app also features a GPS tracking system that enables accurate location tracking of the ambulance en route to the user's location, providing real-time updates on estimated arrival times.</span>
                       </p>
                    </div>
                    <!-- controls -->
                    <div class="absolute z-20 flex justify-between w-full top-1/2">
                       <label for="carousel-3" class="inline-block text-red-600 cursor-pointer -translate-x-5 bg-white rounded-full shadow-md active:translate-y-0.5">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" viewBox="0 0 20 20" fill="currentColor">
                             <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z" clip-rule="evenodd" />
                          </svg>
                       </label>
                       <label for="carousel-2" class="inline-block text-red-600 cursor-pointer translate-x-5 bg-white rounded-full shadow-md active:translate-y-0.5">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" viewBox="0 0 20 20" fill="currentColor">
                             <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd" />
                          </svg>
                       </label>
                    </div>
                 </div>
              </div>

              <!-- second -->
              <div class="">
                 <input class="sr-only peer" type="radio" name="carousel" id="carousel-2" />
                 <!-- content #2 -->
                 <div
                    class="absolute z-0 w-9/12 transition-all duration-300 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-lg shadow-lg opacity-0 top-52 left-1/2 peer-checked:opacity-100 peer-checked:z-10">
                    <img class="w-full rounded-t-lg max-h-80" src="../assets/img/port-folio-logo.png" alt="" />
                    <div class="px-8 py-4">
                       <h1 class="mt-2 font-bold tracking-tight text-gray-900 text-auto">
                          Port Folio Using HTML and TailwindCss
                          <a href="https://github.com/jackhack2002/port-folio.git">(view code)</a>
                          <a href="https://port-folio-tailwind.netlify.app/">(view portfolio site)</a>
                       </h1>
                       <p class="py-3 leading-6 text-gray-600 ">simple and responsive portfolio design using a utility-first CSS framework for rapidly building port-folio.
                         
                       </p>
                    </div>
                    <!-- controls -->
                    <div class="absolute z-20 flex justify-between w-full top-1/2">
                       <label for="carousel-1" class="inline-block text-blue-600 cursor-pointer -translate-x-5 bg-white rounded-full shadow-md active:translate-y-0.5">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" viewBox="0 0 20 20" fill="currentColor">
                             <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z" clip-rule="evenodd" />
                          </svg>
                       </label>
                       <label for="carousel-3" class="inline-block text-blue-600 cursor-pointer translate-x-5 bg-white rounded-full shadow-md active:translate-y-0.5">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" viewBox="0 0 20 20" fill="currentColor">
                             <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd" />
                          </svg>
                       </label>
                    </div>
                 </div>
              </div>
              <!-- three -->
              <div class="">
               <input class="sr-only peer" type="radio" name="carousel" id="carousel-3" />
               <!-- content #3 -->
               <div
                  class="absolute z-0 w-9/12 transition-all duration-300 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-lg shadow-lg opacity-0 top-52 left-1/2 peer-checked:opacity-100 peer-checked:z-10">
                  <img class="w-full rounded-t-lg max-h-96" src="../../assets/img/jscart.jpg" alt="" />
                  <div class="px-8 py-4">
                     <h1 class="mt-2 font-bold tracking-tight text-gray-900 text-auto">
                        J's Cart an E-commerce website using Angular Framework .
                        <!-- <a href="https://github.com/jackhack2002/port-folio.git">(view code)</a> -->
                        <a href="https://jackhack2002.github.io/JsCarts/">(view portfolio site)</a>
                     </h1>
                     <p class="py-3 leading-6 text-gray-600 ">Developed "J's Cart," an e-commerce website designed to provide a seamless online shopping experience. The project features a user-friendly interface, extensive product catalog, cart management, secure payment processing, and responsive design. My role included frontend development, UI design, and continuous optimization for performance and user engagement.
                       
                     </p>
                  </div>
                  <!-- controls -->
                  <div class="absolute z-20 flex justify-between w-full top-1/2">
                     <label for="carousel-2" class="inline-block text-blue-600 cursor-pointer -translate-x-5 bg-white rounded-full shadow-md active:translate-y-0.5">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" viewBox="0 0 20 20" fill="currentColor">
                           <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z" clip-rule="evenodd" />
                        </svg>
                     </label>
                     <label for="carousel-1" class="inline-block text-blue-600 cursor-pointer translate-x-5 bg-white rounded-full shadow-md active:translate-y-0.5">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" viewBox="0 0 20 20" fill="currentColor">
                           <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd" />
                        </svg>
                     </label>
                  </div>
               </div>
            </div>
           </div>
        </div>
        
   
   
   
     </div>
   
   