

<div id="SKILLS" >
     <h2 class="py-10 text-4xl italic font-semibold text-center text-teal-200 " [class.text-focus-in]="true">SKILLS</h2>
 
         <div class="w-auto p-4 mx-5 mb-48 skills-page bg-opacity-80 bg-slate-500 rounded-3xl" [class.slide-in-bottom]="true" >
         <div class="flex flex-col p-6 " >
             
            <div class="space-x-4">
         
                 <section class="mb-8 skill-section"  >
                 <h2 class="mb-2 text-xl font-semibold text-orange-500 " [class.slide-in]="true">Web Development</h2>
                 <ul class="pl-4 text-xl list-disc text-cyan-300" [class.slide-in]="true">
                     <li >HTML</li>
                     <li>CSS</li>
                     <li>JavaScript</li>
                     <li>Angular</li>
                     <li>Tailwind CSS</li>
                     <li>Mysql</li>
                 </ul>
             </section>
         
             <section class="mb-8 skill-section" >
                 <h2 class="mb-2 text-xl font-semibold text-orange-500" [class.slide-in]="true">Design</h2>
                 <ul class="pl-6 text-xl list-disc text-cyan-300" [class.slide-in-right]="true">
                     <li>Adobe Photoshop</li>
                 </ul>
             </section>
             
         
         
                 <section class="mb-8 skill-section">
                     <h2 class="mb-2 text-xl font-semibold text-orange-500" [class.slide-in]="true">Programming Languages</h2>
                     <ul class="pl-6 text-xl list-disc text-cyan-300" [class.slide-in-right]="true">
                         <li>Java</li>
                         <li>Python</li>
                     </ul>
                 </section>
             
                 <section class="mb-8 skill-section">
                     <h2 class="mb-2 text-xl font-semibold text-orange-500" [class.slide-in]="true">IDE's</h2>
                     <ul class="pl-6 text-xl list-disc text-cyan-300" [class.slide-in-right]="true">
                         <li>Android Studio</li>
                         <li>Visual Studio Code</li>
                     </ul>
                 </section>
             
                 <section class="skill-section">
                     <h2 class="mb-2 text-xl font-semibold text-orange-500" [class.slide-in]="true">Version Control</h2>
                     <ul class="pl-6 text-xl list-disc text-cyan-300" [class.slide-in-right]="true">
                         <li>GitHub</li>
                     </ul>
                 </section>
             
            </div>
         </div>
         
         
     </div>
 </div>
 
 